= button_to 'Subscribe', subscriptions_path, params: { subscriber: current_user, subscriptable: @question }, method: :post
= turbo_frame_tag id=dom_id(@question)
  = render 'questions/show_question', question: @question

= render 'answers/answers', question: @question

= render 'answers/new', answer: @new_answer
